# npm安装依赖包默认会在版本号加上"^"前缀符号，比如，^1.0.0，
# 这会导致以后 npm install 安装的版本会变化，可能导致bug，所以设置为不加前缀，使用固定版本号
# 我们希望任何时候安装、打包，npm的依赖包都是一样的
# 参考 https://stackoverflow.com/questions/22343224  npm config set save-prefix=''
save-prefix=
