// flex

.flex {
    display: flex;
}

.flex-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-fs-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-col-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-col-sb-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-col-c-sb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.flex-col-c-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}